*{
    margin: 0;
    padding: 0%;
    background-image: -webkit-image-set(src="fondonoche.png");
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
.container{
    position: relative;
    width: 100%;
    display:flex;
}
.container section{
    min-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.container section .content{
    max-width: 800px;
    padding: 10px;
    text-align: center;
}
.container section .content h2{
    font-size: 4em;
}

.personaje{
    width: 50em;
    height: 100%;
    left: 0;
    margin-top: 0;
}
.fuego1{
    width: 25%;
    height: 501%;
    left: 30%;
    margin-top: 0;

}
.fuego2{
    width: 20%;
    height: 30%;
    left: 0;
    margin-top: 0;

}